body {
    margin: 5px;
    padding: 0px;
    font-family: 'Noto Sans', sans-serif;
}

.Attention {color: #c9c14d;}


div#AllQuestions ol li a{color: #00a2ff;}
div#AllQuestions ol li a:hover {color: #27a0e6;}
div#AllQuestions ol li a:active {color:#0086d4;}
div#AllQuestions ol li a:visited {color:#0066a1;}

div#AllQuestions ol {
    padding: 0;
    margin-left: 20px;
}

div#HowToAddBot img#HowToAddBotImg {
    width: 450px;
    height: 500px;
}

div#MainCommands ul {
    padding: 0;
    margin-left: 20px;
}

div#MainCommands h2 {
    padding-top: 3.5px;
}

div#MainCommands ul {
    padding-bottom: 4.5px;
}